
    <p class="fields">    
        <%= f.label :amenities_name %>
        <%= f.select(:name,@amenities, {}, {class: "form-control"}) %>
      

        <%= f.label :amenities_description %>
        <%= f.text_area :description , class: 'form-control'%>
        
       
    </p>