
<h1><%= @picture.description %></h1>
 


<% if @picture.attachments? %>
  
    <% @picture.attachments.each do |attachment| %>
      <%= link_to(image_tag(attachment.thumb.url, alt: 'Image'), attachment.url, target: '_blank') %><br><br>
    <% end %>
  <br>
<% end %>

<center><h3><%= link_to 'Edit', edit_picture_path(@picture) %></h3></center>